.input-gallery-wrap .upload__inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-gallery-wrap .upload__btn {
    display: inline-block;
    font-weight: 600;
    color: #fff;
    text-align: center;
    min-width: 116px;
    padding: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: #4045ba;
    border: 2px solid #4045ba;
    border-radius: 10px;
    line-height: 26px;
    font-size: 14px;
}

.input-gallery-wrap .upload__btn:hover {
    background-color: unset;
    color: #4045ba;
    transition: all 0.3s ease;
}

.input-gallery-wrap .upload__btn-box {
    margin-bottom: 10px;
}

.input-gallery-wrap .upload__img-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.input-gallery-wrap .upload__img-box {
    width: 120px;
    padding: 0 10px;
    margin-bottom: 12px;
}

.input-gallery-wrap .upload__img-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    line-height: 24px;
    z-index: 1;
    cursor: pointer;
}

.input-gallery-wrap .upload__img-close:after {
    content: '\2716';
    font-size: 14px;
    color: white;
}

.input-gallery-wrap .img-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 100%;
}

.checkbox-form-cus {
    transform: scale(1.5);
    margin-left: 2rem;
    margin-right: 0.5rem;
}

.app-sidebar-logo {
    justify-content: center !important;
}

.app-sidebar {
    background-color: #FFFFFF !important;
}

/*Customize style menu item*/
.text-hover-primary:hover {
    transition: color .2s ease;
    color: #E65313 !important;
}

.text-hover-primary:hover i {
    transition: color .2s ease;
    color: #E65313 !important;
}

.text-hover-primary:hover .svg-icon {
    color: #E65313 !important;
}

.text-active-primary.active {
    transition: color .2s ease;
    color: #E65313 !important;
}

.text-active-primary.active i {
    transition: color .2s ease;
    color: #E65313 !important;
}

.text-active-primary.active .svg-icon {
    color: #E65313 !important;
}

.app-sidebar .menu .menu-item .menu-heading {
    color: #646477 !important
}

.app-sidebar .menu .menu-item .menu-link {
    color: #474747
}

.app-sidebar .menu .menu-item .menu-link .menu-title {
    color: #474747
}

.app-sidebar .menu .menu-item .menu-link .menu-icon, [data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link .menu-icon .svg-icon, [data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link .menu-icon i {
    color: #6C6C6C
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link.active {
    transition: color .2s ease;
    background-color: #F7F7F7;
    color: #E65313
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link.active .menu-title {
    color: #E65313
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link.active .menu-icon, [data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link.active .menu-icon .svg-icon, [data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link.active .menu-icon i {
    color: #E65313
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link.active .menu-bullet .bullet {
    background-color: #F7F7F7;
}

[data-kt-app-layout=light-sidebar] .app-sidebar .menu .menu-item .menu-link.active {
    transition: color .2s ease;
    background-color: #F7F7F7;
    color: #E65313
}

[data-kt-app-layout=light-sidebar] .app-sidebar .menu .menu-item .menu-link.active .menu-title {
    color: #E65313
}

[data-kt-app-layout=light-sidebar] .app-sidebar .menu .menu-item .menu-link.active .menu-icon, [data-kt-app-layout=light-sidebar] .app-sidebar .menu .menu-item .menu-link.active .menu-icon .svg-icon, [data-kt-app-layout=light-sidebar] .app-sidebar .menu .menu-item .menu-link.active .menu-icon i {
    color: #E65313
}

[data-kt-app-layout=light-sidebar] .app-sidebar .menu .menu-item .menu-link.active .menu-bullet .bullet {
    background-color: #F7F7F7;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item.hover:not(.here) > .menu-link:not(.disabled):not(.active):not(.here) .menu-title, [data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) .menu-title {
    color: #E65313
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item.hover:not(.here) > .menu-link:not(.disabled):not(.active):not(.here) .menu-icon, [data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item.hover:not(.here) > .menu-link:not(.disabled):not(.active):not(.here) .menu-icon .svg-icon, [data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item.hover:not(.here) > .menu-link:not(.disabled):not(.active):not(.here) .menu-icon i, [data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) .menu-icon, [data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) .menu-icon .svg-icon, [data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item:not(.here) .menu-link:hover:not(.disabled):not(.active):not(.here) .menu-icon i {
    color: #E65313
}
